*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --main-color:#6400e4;
  --box-shadow:0px 3px 5px 0px rgba(0,0,0,0.34);
  --hover-shadow:0px 4px 4px 0px rgba(3, 3, 3, 0.561);
  --nav-shadow:0px 0px 10px 0px rgba(0,0,0,0.100);
  --light-black:#141c3a;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  background-color: #d1d8ef;
}

.container{
    width: 30%;
    margin:100px auto;
}

form{
    display:flex;
    flex-direction:column;
}
form label{
    margin: 5px 0;
    font-style: italic;

}
form input[type="text"], input[type="password"]{
    height: 55px;
    margin:5px;
    border: 2px solid rgb(9, 25, 248);
    border-radius: 10px;
    border-color: rgb(2, 1, 7);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
form a{
    margin: 20px  0;
    text-decoration:solid;
    color:#04046da1;
    font-weight:bold;
    font-style:italic;
    

}

form input[type="submit"]{
    height: 50px;
    background: rgb(134, 6, 81);
    font-size:15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    border:2px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    box-shadow: var(--box-shadow);
    cursor:pointer;
    margin:15px;
}
form input[type="submit"]:hover{
    box-shadow: var(--hover-shadow);
    transform: translateY(-1px);

}
.footer{
    font-size: 16px;
    opacity: 0.9;

}
.footer .images{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;

}
.footer .images img{
    width: 15%;
    border:1px solid thistle;
    padding:15px;
    border-radius: 10px;
    transition: 0.3s ease;
}

.footer .images img:hover{
        box-shadow: var(--hover-shadow);
        cursor: pointer;
}
.footer a{
    float: right;
    color:rgb(134, 6, 81);
    margin: 10px 0;
    cursor: pointer;
}
